@charset "UTF-8";

/*
      em HTML é id     = em CSS é #
      em HTML é class  = em CSS é .
*/      

body{
    background-color: #00ffff;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(1, 75, 75) ;
    
    
    
}
h2{
    color: #024747;
}

h1#principal{
    text-align: center
    ;
    background-color: #024747;
    color: white;
 
}

.basico{
    color: #e9dcdc;
}

.intermediario{
    color: #0bfa2b;
}

.avançado{
    color: #68398f;
}